/* Login CSS */
.login-page {
    display: flex;
    height: 100vh;
  }
  
  .left-side-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

  }
  .left-side-login .left-side{
    width: 70%;
  }
  .left-side-login .left-side form{
    padding: 25px 50px;
    border: 2px solid #FFBF00;
    border-radius: 25px;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  }
  .top-logo-login {
    display: flex;
    justify-content: center;

  }
  .top-logo-login img {
    height: 150px;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .label {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  
  .input-field {
    width: 100%;
    padding: 0.75rem 1rem;
    padding-left: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  .show-password {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .submit-button {
    width: 50%;
    margin: 10px auto;
    padding: 0.75rem 1rem;
    background-color: #FFBF00;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
  }
  .submit-button:hover{
    scale: 1.05;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  } 
  .btn-login{
    display: flex;
    margin-top: 1rem;

  }
  .submit-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .link-text {
    color: #FFBF00;
    text-decoration: none;
  }
  
  .right-side-login {
    flex: 1;
  }
  .right-side-login img {
    width: 80%;
    height: 100vh;
  }


  /* CSS trang Đăng Ký tài khoản */
  
  .register-page{
    display: flex;
    justify-content: center;

    height: 100vh;
  }
  .register-page .right-side,
  .register-page .left-side{
    width: 50%;
    
  } 
  .register-page .right-side{
    display: flex;
    justify-content: center;
  }
  .register-page .right-side img{
    width: 75%;
    height: 100vh;
  }
  .register-page .left-side{
    padding:100px 50px;
  }
  .register-page .card-header{
    text-align: center;
    margin-bottom: 10px;
  }
  .register-page .left-side form {
    margin: 0 auto;
    width: 70%;
    border: 2px solid #FFBF00;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  }
  .register-page .left-side .form-control input {
    width: 100%;
    margin-left: 20px;
    border-radius: 50px;
  }
  .register-page .left-side .form-control .input-wrapper{
    display: flex;
    align-items: center;
  }
  .register-page .left-side .btn-dangky{
    text-align: center;
    margin-bottom: 15px;
  }
  .register-page .left-side .btn-dangky button{
    background-color: #FFBF00;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .register-page .left-side .btn-dangky button:hover{
    scale: 1.05;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  }
  .register-page .left-side .text-center .link{
    text-decoration: none;
    color: #FFBF00;
  }


/* HomePage CSS */

.chat-screen {
  height: 100vh;
  /* background-color: #e5e7eb;  */
  overflow: hidden;
}


.chat-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin-top: 65px;
}


.chat-box {
  /* background-color: #ffffff;  */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  width: 100vw !important;
  /* max-width: 96rem; */
  display: flex;
}

.chat-content {
  display: flex;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}



/* CSS trang Profile */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}


.profile {
  max-width: 650px;
  margin: 80px auto;
  padding: 20px;
  /* background: #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.profile__card {
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
  padding-top: 0 !important;
}

.profile__title h1 {
  font-size: 24px;
  margin: 0;
}

.profile__title p {
  color: #6c757d;
  font-size: 14px;
  margin-top: 4px;
}

/* Profile Top Section */
.top__profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile__avatar {
  position: relative;
  margin-right: 20px;
  text-align: center;
}

.profile__avatar-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #FFBF00;
}

.profile__avatar-upload {
  position: absolute;
  bottom: -5px;
  right: 5px;
  background: #aaa;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.profile__avatar-upload:hover {
  background: #6c757d;
}

.profile__info {
  flex: 1;
}

.profile__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile__info-item svg {
  margin-right: 8px;
  color: #6c757d;
}


.profile__account {
  margin-top: 20px;
}

.profile__account-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
}

.profile__account-row span {
  color: #333;
}

.profile__status--active {
  font-weight: bold;
  color: #28a745 !important;
}


.profile__posts {
  margin-top: 20px;
}

.profile__posts h2 {
  font-size: 17px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.posts__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post__card .post__header {
  display: flex;
  align-items: center;
}
.post__card .post__info {
  margin-left: 10px;
}
.post__card .post__info .post__author{
  font-weight: bold;
  font-size: 17px;
}
.post__card .post__header img{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid #FFBF00;
  margin-top: 0;
}
.post__card {
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.post__card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.post__card img {
  width: 100%;
  /* max-height: 200px; */
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.post__date {
  font-size: 14px;
  color: #6c757d;
  margin-top: 10px;
}

.post__content .pContent{
  font-size: 18px;
}

.post__content .react{
  font-size: 15px;
  padding: 6px 0px 0px 6px;
}

.post__actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 20px;
}

.post__actions .like-button
 {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}
.post__actions .share-button{
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.post__actions .share-button:hover {
  color: red;
}


.comments-section {
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.comments-section p {
  font-size: 14px;
  margin: 5px 0;
  color: #333;
}
.comments-section .comment-input{
  display: flex;
}
.comments-section input {
  width: calc(100% - 60px);
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #FFBF00;
  border-radius: 50px;
  font-size: 14px;
}

.comments-section button {
  padding: 5px 25px;
  background: #FFBF00;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.comments-section button:hover {
  background: #FFBF00;
}



/* CSS cho trang setting */
